<footer class="site-footer w-full mt-100">
  <div class="site-container site-grid pb-20 md:pb-32">
    <address class="md:col-span-14 md:col-start-2 xl:flex xl:justify-between font-regular not-italic">
      <div>
        <p class="mb-12 xl:mb-0 xl:mr-12 xl:inline">
          <a href="https://goo.gl/maps/7FRqNyCU8kDkduFu8" target="_blank" rel="noopener" title="{{ "Auf der Googlemaps anzeigen" | trans }}">
            <span class="block xl:inline">Oberradein 54</span><em class="hidden xl:inline">, </em>
            <span class="block xl:inline">39040 Aldein/Radein</span><em class="hidden xl:inline">, </em>
            <span class="block xl:inline">Südtirol – Italien</span>
          </a>
        </p>
        <p class="mb-20 xl:mb-0 xl:inline">
          <a href="mailto:contact@berghoferin.it" title="{{ "Schreiben Sie uns eine E-Mail" | trans }}" class="block xl:inline-block xl:mr-12">contact@berghoferin.it</a>
          <a href="tel:+390471887150" title="{{ "Rufen Sie uns an" | trans }}" class="block xl:inline">+39 0471 887 150</a>
        </p>
      </div>
      <div>
        <a href="https://www.instagram.com/berghoferin/" target="_blank" rel="noopener" title="{{ "Berghoferin auf Instagram" | trans }}">
          {{ partial:icons/instagram }}
        </a>
      </div>
    </address>
  </div>
</footer>