{{# Home #}}
{{ if category == 'home' }}
  <section class="flex flex-col md:col-span-full md:grid md:grid-cols-16 gap-16">
    <article class="order-2 md:order-1 md:col-span-6 md:col-start-2 xl:col-span-4 xl:col-start-5 md:mt-160 xl:mt-220">
      {{ if header_image }}
        {{ partial:components/image :image="header_image" :width="'201'" :height="'79'" :caption="header_image:alt" class="w-201 h-79" }}
      {{ /if }}
      {{ if content_text }}
        <div class="mt-32">
          {{ content_text }}
            {{ if type == 'text' }}
              {{ text }}
            {{ /if }}
            {{ if type == 'link' }}
              <a href="{{ url }}" class="text-burgundy-500 mt-32 inline-flex items-center leading-none group">
                {{ if icon }}
                  {{ partial:icons/{{icon}} :class="'block mr-8 -mt-2 w-7 h-12'" }}
                {{ /if }}
                <span class="group-hover:underline group-hover:decoration-1 group-hover:underline-offset-4">
                  {{ description }}
                </span>
              </a>
            {{ /if }}
          {{ /content_text}}
        </div>
      {{ /if }}
    </article>
    {{ if image }}
      <figure class="flex justify-start mt-80 mb-48 md:mb-0 md:-mt-16 xl:mt-0 order-1 md:order-2 md:col-span-6 md:col-start-10 xl:block xl:col-span-6 xl:col-start-10">
        {{ partial:components/image :image="image" :width="'640'" :height="'1000'" :caption="image:alt" }}
      </figure>
    {{ /if }}
  </section>

  {{# teasers #}}
  {{ content_text }}
    {{ if type == 'teaser'}}
      {{ partial:components/teaser }}
    {{ /if }}
  {{ /content_text }}
  
{{ /if }}

{{# About #}}
{{ if category == 'about' }}
  <section class="md:col-span-full md:grid md:grid-cols-16 md:gap-16">
    {{ if content_text }}
      {{ content_text }}
        <article class="content md:col-start-2 md:col-span-7 xl:col-start-2 xl:col-span-5">
          {{ if type == 'text' }}
            {{ text }}
          {{ /if }}
        </article>
      {{ /content_text }}
    {{ /if }}

    {{ if images }}
      <div class="overflow-hidden mt-40 md:mt-60 xl:mt-100 md:col-span-6 md:col-start-10 xl:col-span-6 xl:col-start-9">
        {{ partial:components/slideshow }}
      </div>
    {{ /if }}
  </section>
{{ /if }}

{{# Restaurants #}}
{{ if category == 'gastro-theque-alpine' }}
  <section class="md:col-span-full">
    <article class="content md:grid md:grid-cols-16 gap-16 w-full">
      
      {{ if header_image }}
        <div class="md:col-span-4 md:col-start-11 xl:col-span-6 xl:col-start-10 md:order-2 xl:order-1">
          {{ partial:components/image :image="header_image" :width="'180'" :height="'75'" :caption="header_image:alt" class="w-180 h-auto" }}
        </div>
      {{ /if }}

      {{ if image }}
        <figure class="mt-40 md:mt-0 xl:mt-22 md:col-span-8 md:col-start-2 xl:col-span-7 xl:col-start-2 md:order-1 xl:order-2">
          {{ partial:components/image :image="image" :width="'1200'" :height="'815'" :caption="image:alt" }}
        </figure>
      {{ /if }}

      {{ if content_text }}
        <div class="mt-32 xl:mt-16 md:col-span-14 md:col-start-2 xl:col-span-5 xl:col-start-10 md:order-3 xl:order-3">
          {{ content_text }}
            {{ if type == 'text' }}
              {{ text }}
            {{ /if }}
          {{ /content_text}}
        </div>
      {{ /if }}

    </article>
  </section>
{{ /if }}

{{ if category == 'die-saligen-fine-dining' }}
  <section class="mt-100 md:col-span-full">
    <article class="content md:grid md:grid-cols-16 gap-16 w-full">
      {{ if header_image }}
        <div class="md:col-span-3 md:col-start-5 xl:col-span-2 xl:col-start-2 md:order-1 xl:order-1">
          {{ partial:components/image :image="header_image" :width="'133'" :height="'105'" :caption="header_image:alt" class="w-133 h-auto" }}
        </div>
      {{ /if }}

      {{ if image }}
        <figure class="mt-40 md:mt-0 xl:mt-0 md:col-span-6 md:col-start-10 xl:col-span-6 xl:col-start-10 md:order-2 xl:order-3">
          {{ partial:components/image :image="image" :width="'1200'" :height="'815'" :caption="image:alt" }}
        </figure>
      {{ /if }}

      {{ if content_text }}
        <div class="mt-32 xl:-mt-5 md:col-span-14 md:col-start-2 xl:col-span-5 xl:col-start-4 md:order-3 xl:order-2">
          {{ content_text }}
            {{ if type == 'text' }}
              {{ text }}
            {{ /if }}
          {{ /content_text}}
        </div>
      {{ /if }}
    </article>
  </section>
{{ /if }}

{{ if category == 'zenos' }}
  <section class="mt-100 md:col-span-full">
    <article class="content md:grid md:grid-cols-16 gap-16 w-full">
      {{ if header_image }}
        <div class="md:col-span-2 md:col-start-9 xl:col-span-6 xl:hidden md:order-2">
          {{ partial:components/image :image="header_image" :width="'110'" :height="'21'" :caption="header_image:alt" class="w-110 h-auto" }}
        </div>
      {{ /if }}

      {{ if image }}
        <figure class="mt-40 md:mt-0 xl:mt-0 md:col-span-6 md:col-start-2 xl:col-span-5 xl:col-start-2 md:order-1 xl:order-1">
          {{ partial:components/image :image="image" :width="'1200'" :height="'815'" :caption="image:alt" }}
        </figure>
      {{ /if }}

      {{ if content_text }}
        <div class="mt-32 xl:mt-0 md:col-span-14 md:col-start-2 xl:col-span-5 xl:col-start-8 md:order-3 xl:order-3">
          {{ if header_image }}
            <div class="hidden xl:block xl:mb-32">
              {{ partial:components/image :image="header_image" :width="'110'" :height="'21'" :caption="header_image:alt" class="w-110 h-auto" }}
            </div>
          {{ /if }}
          
          {{ content_text }}
            {{ if type == 'text' }}
              {{ text }}
            {{ /if }}
          {{ /content_text }}
        </div>
      {{ /if }}
    </article>
  </section>
{{ /if }}

{{ if category == 'corner-pool-bar' }}
  <section class="mt-100 md:col-span-full">
    <article class="content md:grid md:grid-cols-16 gap-16 w-full">
      {{ if header_image }}
        <div class="md:col-span-4 md:col-start-11 xl:col-span-6 xl:col-start-10 md:order-2 xl:order-1">
          {{ partial:components/image :image="header_image" :width="'153'" :height="'77'" :caption="header_image:alt" class="w-153 h-auto" }}
        </div>
      {{ /if }}

      {{ if image }}
        <figure class="mt-40 md:mt-0 xl:mt-22 md:col-span-8 md:col-start-2 xl:col-span-4 xl:col-start-5 md:order-1 xl:order-2">
          {{ partial:components/image :image="image" :width="'1200'" :height="'815'" :caption="image:alt" }}
        </figure>
      {{ /if }}

      {{ if content_text }}
        <div class="mt-32 xl:mt-16 md:col-span-14 md:col-start-2 xl:col-span-5 xl:col-start-10 md:order-3 xl:order-3">
          {{ content_text }}
            {{ if type == 'text' }}
              {{ text }}
            {{ /if }}
          {{ /content_text}}
        </div>
      {{ /if }}
    </article>
  </section>
{{ /if }}

{{# Spa and Wellness #}}
{{ if category == 'spa-and-wellness' }}
  <section class="md:col-span-full">
    <article class="content md:grid md:grid-cols-16 gap-16 w-full">
      {{ if header_image }}
        <div class="md:col-span-4 md:col-start-11 xl:col-span-3 xl:col-start-8 xl:flex xl:justify-center xl:items-start md:order-2 xl:order-2 xl:hidden">
          {{ partial:components/image :image="header_image" :width="'120'" :height="'105'" :caption="header_image:alt" class="w-120 h-auto" }}
        </div>
      {{ /if }}

      {{ if image }}
        <figure class="mt-40 md:mt-0 xl:mt-100 md:col-span-8 md:col-start-2 xl:col-span-6 xl:col-start-2 md:order-1 xl:order-1">
          {{ partial:components/image :image="image" :width="'1200'" :height="'815'" :caption="image:alt" }}
        </figure>
      {{ /if }}

      {{ if images }}
        <div class="overflow-hidden mt-40 md:mt-0 xl:mt-100 md:col-span-8 md:col-start-2 xl:col-span-7 xl:col-start-9 md:order-1 xl:order-2">
          {{ partial:components/slideshow }}
        </div>
      {{ /if }}

      {{ if content_text }}
        <div class="mt-32 xl:-mt-5 md:col-span-14 md:col-start-2 xl:col-span-5 xl:col-start-2 md:order-3 xl:order-1">
          <div class="hidden xl:block xl:mb-40">
            {{ partial:components/image :image="header_image" :width="'120'" :height="'105'" :caption="header_image:alt" class="w-120 h-auto" }}
          </div>
          {{ content_text }}
            {{ if type == 'text' }}
              {{ text }}
            {{ /if }}
          {{ /content_text}}
        </div>
      {{ /if }}
    </article>
  </section>
{{ /if }}

{{# Information #}}
{{ if category == 'information' }}
  <section class="md:col-span-full">
    <article class="content md:grid md:grid-cols-16 gap-16">
      {{ if content_text }}
        <div class="mt-36 xl:mt-0 md:col-span-14 md:col-start-2 xl:col-span-6 xl:col-start-2">
          {{ content_text }}
            {{ if type == 'text' }}
              {{ text }}
            {{ /if }}
            {{ if type == 'link' }}
              <p>
                <a href="{{ url }}" class="font-medium inline-flex items-center leading-none group">
                  <span class="group-hover:underline group-hover:decoration-1 group-hover:underline-offset-4">
                    {{ description }}
                  </span>
                  {{ if icon }}
                    {{ partial:icons/{{icon}} :class="'block ml-8 -mt-2 w-12 h-12'" }}
                  {{ /if }}
                </a>
              </p>
            {{ /if }}
            {{ if type == 'collapsible' }}
              {{ partial:components/collapsible }}
            {{ /if }}

            {{ if type == 'information'}}
              {{ information }}
                {{ partial:components/collapsible }}
              {{ /information }}
            {{ /if }}

          {{ /content_text}}
        </div>
      {{ /if }}
      {{ if image }}
        <figure class="hidden xl:mt-120 xl:block xl:col-span-6 xl:col-start-10">
          {{ partial:components/image :image="image" :width="'1200'" :height="'815'" :caption="image:alt" }}
        </figure>
      {{ /if }}
    </article>
  </section>
{{ /if }}

{{# Contact #}}
{{ if category == 'contact' }}
  <section class="md:col-span-full">
    <article class="content md:grid md:grid-cols-16 gap-16">

      {{ if image }}
        <figure class="md:col-span-8 md:col-start-2 xl:col-span-7 xl:col-start-2">
          {{ partial:components/image :image="image" :width="'1200'" :height="'815'" :caption="image:alt" }}
        </figure>
      {{ /if }}

      {{ if content_text }}
        <div class="mt-36 xl:-mt-5 md:col-span-14 md:col-start-2 xl:col-span-6 xl:col-start-10">
          {{ content_text }}
            {{ if type == 'text' }}
              {{ text }}
            {{ /if }}
            {{ if type == 'link' }}
              <p>
                <a href="{{ url }}" target="{{ target }}" class="font-medium inline-flex items-center leading-none group">
                  <span class="group-hover:underline group-hover:decoration-1 group-hover:underline-offset-4">
                    {{ description }}
                  </span>
                  {{ if icon }}
                    {{ partial:icons/{{icon}} :class="'block ml-8 -mt-2 w-12 h-12'" }}
                  {{ /if }}
                </a>
              </p>
            {{ /if }}
            
            {{ if type == 'collapsible' }}
              {{ partial:components/collapsible :class="'first-of-type:mt-80'" }}
            {{ /if }}

          {{ /content_text}}
        </div>
      {{ /if }}
    </article>
  </section>
{{ /if }}

{{# Imprint and Privacy #}}
{{ if category == 'imprint-privacy' }}
  <section class="md:col-span-full">
    <article class="content md:grid md:grid-cols-16 gap-16">
      {{ if image }}
        <figure class="hidden xl:mt-80 xl:block xl:col-span-5 xl:col-start-2">
          {{ partial:components/image :image="image" :width="'1200'" :height="'815'" :caption="image:alt" }}
        </figure>
      {{ /if }}

      {{ if content_text }}
        <div class="mt-36 xl:-mt-3 md:col-span-14 md:col-start-2 xl:col-span-6 xl:col-start-10">
          {{ content_text }}
            {{ if type == 'text' }}
              {{ text }}
            {{ /if }}
          {{ /content_text}}
        </div>
      {{ /if }}
    </article>
  </section>
{{ /if }}


