<form method="post" action="/accept-offer">
  <input type="hidden" name="id" value="{{ id }}">
  <input type="hidden" name="_token" value="{{ csrf_token }}">
  <button type="submit" title="{{ trans key="Angebot annehmen" :site="user_language" }}" class="flex justify-start items-center w-full pb-6 pt-8 mt-30 border-t border-b border-chestnut text-chestnut !no-underline">
    {{ partial:icons/chevron-right :class="'mr-8 -mt-3'" }}
    {{ trans key="Angebot annehmen" :site="user_language" }}
  </button>
</form>
<form method="post" action="/decline-offer">
  <input type="hidden" name="id" value="{{ id }}">
  <input type="hidden" name="_token" value="{{ csrf_token }}">
  <button type="submit" title="{{ trans key="Angebot ablehnen" :site="user_language" }}" class="flex justify-start items-center w-full pb-6 pt-8 mt-30 border-t border-b border-midnight-500 !no-underline">
    {{ partial:icons/chevron-right :class="'mr-8 -mt-3'" }}
    {{ trans key="Angebot ablehnen" :site="user_language" }}
  </button>
</form>