{{ partial:components/list-item :class="'border-midnight-500'" }}
<div>{{ trans key="Anreise" :site="user_language" }}</div>
<div>
  {{ if user_language == 'de' }}
    {{ arrival_date iso_format="dddd, DD. MMMM YYYY" }}
  {{ else }}
    {{ arrival_date | format('l, d. M Y') }}
  {{ /if }}
</div>
{{ /partial:components/list-item }}

{{ partial:components/list-item }}
<div>{{ trans key="Abreise" :site="user_language" }}</div>
<div>
  {{ if user_language == 'de' }}
    {{ departure_date iso_format="dddd, DD. MMMM YYYY" }}
  {{ else }}
    {{ departure_date | format('l, d. M Y') }}
  {{ /if }}
</div>
{{ /partial:components/list-item }}

{{ partial:components/list-item }}
<div>{{ trans key="Anzahl Nächte" :site="user_language" }}</div>
<div>{{ number_nights }}</div>
{{ /partial:components/list-item }}

{{ partial:components/list-item }}
<div>{{ trans key="Anzahl Suiten" :site="user_language" }}</div>
<div>{{ number_suites }}</div>
{{ /partial:components/list-item }}

{{ partial:components/list-item }}
<div>{{ trans key="Personen" :site="user_language" }}</div>
<div>{{ number_guests }}</div>
{{ /partial:components/list-item }}

{{ partial:components/list-item :class="'border-b border-midnight-300 mb-40'" }}
<div>{{ trans key="Suitentyp" :site="user_language" }}</div>
<div>{{ room:title }}</div>
{{ /partial:components/list-item }}

{{ partial:components/list-item :class="'border-midnight-500'" }}
<div>{{ trans key="Preis pro Nacht" :site="user_language" }}</div>
<div>{{ (room:rate * number_suites) | format_number(2, ',', '.') }} &euro;</div>
{{ /partial:components/list-item }}

{{ if discount }}

  {{ partial:components/list-item }}
    <div>{{ trans key="Zwischensumme" :site="user_language" }}</div>
    <div>{{ (room:rate * number_suites * number_nights) | format_number(2, ',', '.') }} &euro;</div>
  {{ /partial:components/list-item }}

  {{ partial:components/list-item }}
    <div>{{ discount_description }}{{ if discount_type == 'percent' }}, {{ discount_amount }}%{{ /if }}</div>
    <div>
      {{ if discount_type == 'percent' }}
        – {{ (room:rate * number_suites * number_nights * discount_amount / 100) | format_number(2, ',', '.') }} &euro;
      {{ else }}
        – {{ discount_amount | format_number(2, ',', '.') }} &euro;
      {{ /if }}
    </div>
  {{ /partial:components/list-item }}

  {{ partial:components/list-item }}
    <div>{{ trans key="Gesamtbetrag inkl. MwSt & Service" :site="user_language" }}</div>
    <div>
      {{ if discount_type == 'percent' }}
        {{ (room:rate * number_suites * number_nights - room:rate * number_nights * discount_amount / 100) | format_number(2, ',', '.') }} &euro;
      {{ else }}
        {{ (room:rate * number_suites * number_nights - discount_amount) | format_number(2, ',', '.') }} &euro;
      {{ /if }}
    </div>
  {{ /partial:components/list-item }}

{{ else }}

  {{ partial:components/list-item :class="'{{ deposit ? 'border-b border-midnight-300 mb-40' : ''}}'" }}
    <div>{{ trans key="Gesamtbetrag inkl. MwSt & Service" :site="user_language" }}</div>
    <div>{{ (room:rate * number_suites * number_nights) | format_number(2, ',', '.') }} &euro;</div>
  {{ /partial:components/list-item }}

{{ /if }}

{{ if deposit && state == 'accepted' }}
  {{ partial:components/list-item :class="'border-midnight-500'" }}
    <div>{{ trans key="Angeldzahlung" :site="user_language" }}</div>

    {{ if discount }}
      <div>
        {{ if discount_type == 'percent' }}
          {{ (((room:rate * number_suites * number_nights) - (room:rate * number_nights * discount_amount / 100)) / 2) | format_number(2, ',', '.') }} &euro;
        {{ else }}
          {{ ((room:rate * number_suites * number_nights - discount_amount) / 2) | format_number(2, ',', '.') }} &euro;
        {{ /if }}
      </div>
    {{ else }}
      <div>{{ (room:rate * number_suites * number_nights / 2) | format_number(2, ',', '.') }} &euro;</div>
    {{ /if }}
  {{ /partial:components/list-item }}
{{ /if }}