<section class="flex flex-col md:col-span-full md:grid md:grid-cols-16 gap-16">
  <article class="content order-1 md:col-span-6 md:col-start-2 xl:col-span-4 xl:col-start-5 md:mt-80 xl:mt-220">
    <p>{{ trans key="Haben Sie herzlichen Dank für Ihre Rückmeldung." }}</p>
    <p>{{ trans key="Wir bedauern Ihre Absage und hoffen, Sie bei anderer Gelegenheit im Fine Hotel & Hideaway Berghoferin begrüßen zu dürfen." }}</p>
  </article>
  <figure class="flex justify-end mt-60 md:my-0 md:-mt-16 xl:mt-0 order-2 md:col-span-6 md:col-start-10 xl:block xl:col-span-5 xl:col-start-11">
    <img src="/assets/content/berghoferin_buchungsabsage.jpg" height="660" width="480" class="block w-full h-auto" alt="{{ trans key="Buchungsabsage" }}">
  </figure>
</section>