<section class="text-midnight-500 md:col-span-full md:grid md:grid-cols-16 md:gap-16">
  <article class="content mb-30 md:col-span-14 md:col-start-2 xl:col-span-5 xl:col-start-5 ">
    <div>
      {{ partial:views/offer/partials/salutation }}
    </div>
  </article>
  <div class="md:col-span-14 md:col-start-2 xl:col-span-5 xl:col-start-5">
    {{ partial:views/offer/partials/summary }}
    {{ partial:views/offer/partials/form }}
    {{ partial:views/offer/partials/greetings }}
  </div>
  <div class="mt-80 xl:mt-0 md:col-span-14 md:col-start-2 xl:col-span-5 xl:col-start-11">
    {{ partial:views/offer/partials/info }}
  </div>
</section>