<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
<meta charset="utf-8">
<title>{{ title ?? site:name }} &bull; Berghoferin Fine Hotel & Hide Away</title>
<meta name="description" content="{{ meta_description ?? site:description }}">
<meta property="og:title" content="Berghoferin Fine Hotel & Hide Away">
<meta property="og:description" content="{{ meta_description ?? site:description }}">
<meta property="og:url" content="{{ config:client:base_url }}">
<meta property="og:image" content="{{ config:client:base_url }}/img/berghoferin-og.jpg">
<meta property="og:site_name" content="{{ title ?? site:name }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="csrf-token" content="{{ csrf_token }}">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#ffffff">
{{ vite src="resources/js/app.js" }}
</head>
<body class="theme-{{ theme }}">
  {{ partial:layout/header }}
  <main class="site {{ if is_homepage }} pt-84 md:pt-120 xl:pt-220 {{ elseif is_offer }} pt-[260px] xl:pt-220 {{ else }} pt-180 {{ /if }}">
    <div class="site-container site-grid">
      {{ template_content }}
    </div>
  </main>
  {{ partial:layout/footer }}
</body>
</html>
